:root {
		--brblack: #002b36;
		--brgreen: #586e75;
		--bryellow: #657b83;
		--brblue: #839496;
		--brcyan: #93a1a1;
		--brwhite: #fdf6e3;
		--yellow: #b58900;
		--brred: #cb4b16;
		--red: #dc322f;
		--magenta: #d33682;
		--brmagenta: #6c71c4;
		--blue: #268bd2;
		--cyan: #2aa198;
		--green: #859900;
}
body {
		background: white;
		color: var(--brblack);
	    font-family: "Computer Modern Serif", serif;
}
.content {
		max-width: 650px;
		margin:40px auto;
		padding:0 10px;
}
main {
		padding: 0 10px;
		margin:auto;
		max-width: 900px;
		max-width: 850px;
}
h1,h2,h3{
		line-height:1.2;
}
a {
		color: var(--brgreen);
		text-decoration: none;
}

.blog-link:link {
		color: var(--brgreen);
}

.blog-link:visited {
		color: var(--brgreen);
}

.tag-link:link {
		color: var(--brblue);
		font-size: 12pt;
}

.tag-link:visited {
		color: var(--brblue);
}

#title {
		color: var(--brblack);
}
.breadcrumb-link:link {
		color: var(--yellow);
}
.breadcrumb-link:visited {
		color: var(--yellow);
}

li:hover {
		background-color: var(--brcyan);
		color: var(--brwhite);
}
img {
		max-width: 100%;
		max-height: 40vh;
}

.nav ul {
  list-style: none;
  background-color: var(--brblue);
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  padding: 8px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: var(--brwhite);
  display: block;
  transition: .2s background-color;
}

@media screen and (min-width: 600px) {
  .nav li {
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: 16px;
  }
}

#back-to-top {
	position: fixed;
	bottom: 0;
	margin: 1em -1em;
}

.MathJax {
		overflow-x: auto;
		overflow-y: hidden;
}
